h1 {
  width: 100%;
  background: #c5cae9;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
h4 {
  padding-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  margin-top: 40px;
  padding-bottom: 30px;
  display: flex;
  box-sizing: border-box;
}

.form-control {
  padding: 15px 20px;
  background-color: #c5cae9;
  font-size: 20px;
  line-height: 20px;
  height: 50px;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
}

#searchButton {
  color: #303f9f;
  background-color: #c5cae9;
  border-radius: 5px;
  font-size: 20px;
  border: #ff4081 solid;
  width: 100%;
}
.unit {
  font-family: "Arimo", sans-serif;
  background: #ff4081;
  border-radius: 50px;
  color: #ffff;
  border: #ff4081 solid;
  padding: 5px;
  margin: 5px;
}

.unit:active {
  color: #ffff;
  background: #ff4081;
}
.unit:disabled {
  color: #c5cae9;
  background: #ffff;
  border: #757575 solid;
}
.unit:hover {
  color: #c5cae9;
  background: #ffff;
  border: #757575 solid;
}

.app {
  max-width: 800px;
  margin: 60px auto;
  font-family: "Arimo", sans-serif;
}
.currentWeather {
  padding-top: 30px;
}
.weatherForecastPreview {
  box-sizing: border-box;
  text-align: center;
  margin: 40px 0;
  padding-bottom: 50px;
  border: solid;
  border-radius: 5px;
}

.temperatureContainer {
  text-align: right;
}

.temperature {
  font-size: 80px;
}
.temperatureUnit {
  font-size: 28px;
  position: relative;
  top: -34px;
}

.changeUnitContainer {
  padding-bottom: 50px;
}
